<header>
  <h1>
    <a href="{{ site.baseurl }}/">
    {{ site.title }}
    </a>
    <button type="button" class="open-nav" id="open-nav"></button>
  </h1>

  <nav class="full-navigation">
    <ul>
      <li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
        <a href="{{ site.baseurl }}/">Avant-propos</a>
      </li>
    </ul>

    <ul>

      {% assign parts = site.chapters | group_by: 'part' %}
      {% for part_ordered in site.part_ordered %}
      {% assign group = parts | where: 'name' , part_ordered | first %}
        <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
          {% assign items = group.items | sort: 'order' %}
          <a href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name | capitalize }}</a>
          <ul>
            {% for item in items %}
              <li class="nav-item {% if item.url == page.url %}current{% endif %}"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title | capitalize}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

  </nav>
</header>
