---
layout: microtypo
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section class="main">
  			<div class="page-header">
  				<h2>{% if page.part %}{{ page.part | capitalize }}{% else %}{{ site.title | capitalize }}{% endif %}</h2>
  				<h3>{{ page.title | capitalize }}</h3>
  			</div>
  			<article class="content">
  				{{ content }}
  			</article>
        <footer>
          <hr>
          <p>{% if site.repository_url %}Pour contribuer : <a href="{{ site.repository_url }}">{{ site.repository_name }}</a> – {% endif %}
            Licence <a href="{{ site.baseurl }}{% link _chapters/about.md %}">CC&nbsp;BY-NC-SA&nbsp;2.0&nbsp;FR</a></p>
        </footer>
  </section>
  {% include footer.html %}
  </body>
</html>
